<!--
   Name: Shinya Abe
   Date: 3/31/22
   Pledge: I pledge my honor that I have abided by the Stevens honors system
   Class: CS 546
   Assignment: lab9
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prime Checker</title>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>
<body>
    <header class ="header">
        <h1> Prime Checker </h1>  
    </header>

    {{{body}}}
    
    <footer class = "footer">
        <p> Name: Shinya Abe </p>
        <p> CWID: 10450474 </p>
    </footer>
    
    <script src="/public/js/script.js"></script>
</body>
</html>