
<div>   
    <form method="POST" id="myForm">
        <label for = "number" id = "form_label"> Number </label>
        <input name = 'number' type = 'number' id ='number' placeholder = 'number' class = "rounded-input" >
        <button type = "submit"> Check </button>
    </form>

    <div id="error" class="error" hidden></div>


    <div class = "outer_container"> 
        <h2> Attempts: </h2>
        <div class = "container">
            <ul id="attempts" class = "scrollable_list"></ul>
        </div>
    </div>
</div>


